<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BMI計算</h1>
        <div class="card">
          <div class="card-header">
            BMI（ボディマス指数 Body Mass Index：肥満指数）を計算します。
            <br />計算式 BMI＝体重(kg) ÷ {身長(m) Ｘ 身長(m)}
          </div>
          <div class="card-body">
            <%= form_with scope: :calc, local: true do |form| %>
              <div class="form-group">
                <label for="formGroupExampleInput">身長(cm)</label>
                <%= form.text_field :height, class: 'form-control', placeholder: "身長を入力して下さい", type: "number" %>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">体重(kg)</label>
                <%= form.text_field :weight, class: 'form-control', placeholder: "体重を入力して下さい", type: "number" %>
              </div>
              <%= form.submit "BMI計算", class: 'btn btn-primary' %>
                <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @calc.bmi %>
      <div class="row">
        <div class="col">
          <h5>結果</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">範囲</th>
                <th scope="col">肥満度</th>
                <th scope="col">適正体重</th>
                <th scope="col">適正体重より</th>
                <th scope="col">BMI</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= @calc.bmi_rate[@calc.range_index] %>
                </td>
                <td>
                  <%= @calc.obesity_rate[@calc.range_index] %>
                </td>
                <td>
                  <%= @calc.proper_weight %>
                </td>
                <td style="color:<%= @calc.diff_from_proper_weight > 0 ? 'red' : 'blue' %>">
                  <%= @calc.diff_from_proper_weight %>
                </td>
                <td>
                  <%= @calc.bmi %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
        <div class="row">
          <div class="col">
            <h5> 日本肥満学会の判定基準(成人) </h5>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">指標</th>
                  <th scope="col">判定</th>
                </tr>
              </thead>
              <tbody>
                <% (0..@calc.rate_count-1).each do |i| %>
                  <tr style="background-color:<%= i == @calc.range_index ? '#FA8072' : '' %>">
                    <td>
                      <%= @calc.bmi_rate[i] %>
                    </td>
                    <td>
                      <%= @calc.obesity_rate[i] %>
                    </td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>